<h1>
  About Github search
</h1>


<p>Github Search is basically an app that helps users to search for other users by their github usernames.</p>

<h3>
    How to search a github user using this app:
</h3>


<p>Navigate to the users page throught he sidabar by clicking the users icon</p>
<p>Here there is a blank search field for seaching for github users.</p>
<p>Input the user's github username and it brings the user's information.</p>
<p>You can also view the user's github page by clicking the button that comes in the user's information./p>



